<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mapper.MovieReviewMapper">

    <select id="getReviewsByContent" resultType="moviereview">
        SELECT
        R.REVIEWNO,
        R.USERNO,
        R.COMMENTA,
        R.CREATEDAT,
        R.CONTENTTYPE,
        R.CONTENTNO,
        M.USERNAME AS USERNAME
        FROM REVIEW R
        JOIN MEMBER M ON R.USERNO = M.USERNO
        WHERE R.CONTENTNO = #{contentNo}
        ORDER BY R.CREATEDAT DESC
    </select>

    <insert id="insertReview">
        INSERT INTO REVIEW (USERNO, COMMENTA, CREATEDAT, CONTENTTYPE, CONTENTNO)
        VALUES (#{userNo}, #{commentA}, SYSDATE, #{contentType}, #{contentNo})
    </insert>
</mapper>