<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mapper.MovieReviewMapper">

    <select id="getReviewsByContent" resultType="moviereview">
        SELECT
        R.REVIEWNO,
        R.USERNO,
        R.COMMENTA,
        R.CREATEDAT,
        R.CONTENTTYPE,
        R.CONTENTNO,
        M.USERNAME AS USERNAME
        FROM REVIEW R
        JOIN MEMBER M ON R.USERNO = M.USERNO
        WHERE R.CONTENTNO = #{contentNo}
        ORDER BY R.CREATEDAT DESC
    </select>

    <select id="getNextReviewNo" resultType="int">
        SELECT review_seq.nextval FROM dual
    </select>

    <insert id="insertReview" parameterType="com.kh.dto.MovieReviewDTO">
        INSERT INTO REVIEW (REVIEWNO, USERNO, COMMENTA, CREATEDAT, CONTENTTYPE, CONTENTNO)
        VALUES (#{reviewNo}, #{userNo}, #{commentA}, SYSDATE, #{contentType}, #{contentNo})
    </insert>

    <update id="updateReview">
        UPDATE REVIEW
        SET
        COMMENTA = #{commentA}
        WHERE REVIEWNO = #{reviewNo} AND USERNO = #{userNo}
    </update>

    <delete id="deleteReview">
        DELETE FROM REVIEW
        WHERE REVIEWNO = #{reviewNo} AND USERNO = #{userNo}
    </delete>

</mapper>